* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #F1EDEA;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #05B084;
    padding: 10px;
    color: #F1EDEA;
    box-shadow:0 4px 5px rgba(62, 62, 62, 0.25);
}

.logo {
    width: 150px;
    height: auto;
    filter: drop-shadow(4px 2px 2px rgba(0, 0, 0, 0.2));
}

.user_manual_bt{
    background-color: transparent;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 0px;
}

.user_manual_bt:hover .user_manual_icon{
    background-color: #055b45;
}

.user_manual_icon{
    height: 30px;
    width: 30px;
    background-color: hsl(0, 0%, 100%);
    border: 0px;

    mask-image: url("icon/user-manual.svg");
    -webkit-mask-image: url("icon/user-manual.svg");

    mask-size: cover;
    -webkit-mask-size: cover;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

h1{
    font-family: "Mitr", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #2D312F;
    padding: 0px;
    margin: 0px;
}

h2{
    font-family: "Noto Sans Thai", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
    "width" 100;
    padding: 0px;
    margin: 0px;
}

.group{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left:8%;
    padding-bottom: 20px;
}

.head{
    display: flex;
    gap: 20px;
    width: 100%;
}

.head_no{
    background-color: #05B084;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 4px rgba(62, 62, 62, 0.25);
}

#amount_div{
    display: flex;
    gap: 20px;
    width:100%;
}

#amount_input{
    height: 40px;
    border: transparent;
    background-color: #8BCCB1;
    border-radius: 10px;
    padding-left: 10px;
    color: #2D312F;
}

.table{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    width: 100%;
}

.h_table{
    display: flex;
    flex: 1;
    justify-self: start;
    align-self: flex-start;
    width: 84%;
    height: 40px;
    background-color: #BADFCD;
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
    border: 3px solid transparent;
    box-shadow: 0 4px 4px rgba(62, 62, 62, 0.5);

}

.h_table2{
    display: flex;
    justify-content: space-between;
    flex: 1;
    justify-self: start;
    align-self: flex-start;
    width: 84%;
    height: 40px;
    background-color: #BADFCD;
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
    border: 3px solid transparent;
    box-shadow: 0 4px 4px rgba(62, 62, 62, 0.5);

}

.h_table3{
    display: flex;
    justify-content: space-between;
    flex: 1;
    justify-self: start;
    align-self: flex-start;
    width: 84%;
    height: 40px;
    background-color: #BADFCD;
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
    border: 3px solid transparent;
    box-shadow: 0 4px 4px rgba(62, 62, 62, 0.5);

}

.head_t{
    text-align: center;
    justify-content: center;
    align-items: center;
}

#head_11{
    width: 30%;
}

#head_124{
    width: 15%;
}

#head_15{
    width: 25%;
    background: rgba(139,204,177,0.3);
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.list_table{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 88%;
    max-height: 250px;
    overflow-y: auto;
}

.input_cost{
    width:100%;
    height: 100%;
    border: transparent;
    background-color: #8BCCB1;
    border-radius: 3px;
    padding-left: 5px;
}

#list_div{
    display: flex;
    width:100%;
    gap: 10px;
    flex: 1;
    align-items: center;
}

#list{
    display: flex;
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
    height: 60px;
    background-color: transparent;
    flex: 1;
    border: 3px solid #05B084;
    box-shadow: 0 4px 4px rgba(62, 62, 62, 0.25);
}

#list2{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
    height: 60px;
    background-color: transparent;
    flex: 1;
    border: 3px solid #05B084;
    box-shadow: 0 4px 4px rgba(62, 62, 62, 0.25);
}

#list3{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
    height: 60px;
    background-color: transparent;
    flex: 1;
    border: 3px solid #05B084;
    box-shadow: 0 4px 4px rgba(62, 62, 62, 0.25);
}

.delete_bt{
    background-color: transparent;
    border: 3px solid #646464;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.bin_icon{
    width: 30px;
    height: 30px;
    background-color: #646464;
    mask-image: url('icon/icons8-bin.svg');
    -webkit-mask-image: url('icon/icons8-bin.svg');

    mask-size: cover;
    -webkit-mask-size: cover;

    transition: backgroud-color 0.2s ease;
}

.delete_bt:hover .bin_icon{
    background-color: #FF5858;
}

.delete_bt:hover{
    border-color: #FF5858;
}

.add_bt{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 84%;
    padding: 10px;
    height: 60px;
    border-radius: 10px;
    background-color: #EBEBEB;
    border: 3px solid #4A4A48;
    cursor: pointer;
    transition: border-color 0.2s ease;
    transition: background 0.2s ease;
}

.add_bt:hover{
    border-color: #05B084;
    background: rgba(5,176,132,0.58);
}

.add_bt:hover .add_icon{
    background-color: #F1EDEA;
}

.add_icon{
    height: 20px;
    width: 20px;
    background-color: #999999;

    mask-image: url("icon/icons8-plus.svg");
    -webkit-mask-image: url("icon/icons8-plus.svg");

    mask-size: cover;
    -webkit-mask-size: cover;
}

.cost_result, .else_result, .package_result, .labor_result{
    font-family: "Noto Sans Thai", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
    "width" 100;
    padding-left: 10px;
    margin: 0px;
    font-size: small;
}

#labor_div{
    display: flex;
    flex-direction: column  ;
    background-color: #BADFCD;
    width: 84%;
    height: 100%;
    padding: 30px 80px;
    border-radius: 10px;
    gap: 10px;
    border: 3px solid transparent;
    box-shadow: 0 4px 4px rgba(62, 62, 62, 0.25);
}

.labor_input_div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#labor_result_div{
    background-color: #8BCCB1;
    border: 1px solid #05B084;
    width: 40%;
    height: 50px;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.labor_input{
    background-color: #EBECE7;
    border: 1px solid #05B084;
    width: 40%;
    height: 50px;
    padding-left: 10px;
    border-radius: 3px;
}

.submitall_bt {
    display: flex;
    justify-self: center;
    justify-content: center;
    width: 10%;
    padding: 10px;
    height: 60px;
    border-radius: 50px;
    background-color: #ebebeb00;
    border: 5px solid #05B084;
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 120%;
    font-weight: 650;
    color: #05B084;
    cursor: pointer;
    transition: background 0.2s ease;
    transition: color 0.2s ease;
    margin-bottom: 30px;
}

.submitall_bt:hover{
    background: rgba(5,176,132,0.58);
    color: white;
}

.manual {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    opacity: 0;
    transition: opacity 0.3s ease;
}


.manual.show {
    display: block;
    opacity: 1;
}

.manual-content {
    justify-self: center;
    background-color: #ffffff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    width: 70%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    

    transform: translateY(-50px);
    transition: transform 0.3s ease;
}

.manual.show .manual-content {
    transform: translateY(0);
}