* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #F1EDEA;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 100%;
    overflow-x: hidden;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #05B084;
    padding: 10px;
    color: #F1EDEA;
    box-shadow:0 4px 5px rgba(62, 62, 62, 0.25);
}

.logo {
    width: 150px;
    height: auto;
    filter: drop-shadow(3px 1px 0px rgba(0, 0, 0, 25%));
}

.user_manual_bt{
    background-color: transparent;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 0px;
}

.user_manual_bt:hover .user_manual_icon{
    background-color: #055b45;
}

.user_manual_bt h3{
    color: hsl(0, 0%, 100%);
    transition: color 0.2s ease;
}

.user_manual_bt:hover h3{
    color: #055b45;
}

.user_manual_icon{
    height: 30px;
    width: 30px;
    background-color: hsl(0, 0%, 100%);
    border: 0px;

    mask-image: url("icon/user-manual.svg");
    -webkit-mask-image: url("icon/user-manual.svg");

    mask-size: cover;
    -webkit-mask-size: cover;

    transition: backgroud-color 0.2s ease;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.Mitr{
    font-family: "Mitr", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0px;
    margin: 0px;
}

.Nano{
    font-family: "Noto Sans Thai", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
    "width" 100;
    padding: 0px;
    margin: 0px;
}

h1{
    font-family: "Mitr", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #2D312F;
    padding: 0px;
    margin: 0px;
}

h2{
    font-family: "Noto Sans Thai", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
    "width" 100;
    padding: 0px;
    margin: 0px;
}

.body_div{
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 70px;
    margin-top: 50px;
    font-family: "Noto Sans Thai", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

#summary_div{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #FFFFFF;
    min-height: fit-content;
    height: 1000px;
    box-shadow: 0px 4px 35.4px rgba(62, 62, 62, 0.36);
    border: 1px solid rgba(0, 0, 0, 0.201);
}

#first_child_sum{
    display: flex;
    flex-direction: column;
    height: 400px;
    gap: 30px;
}

#head_sum_div{
    display: flex;
    gap: 20px;
    flex: 1;
    padding: 10px 20px 0px 20px;
}

#blank{
    content: ' ';
    padding: 0px;
    flex-basis: 55%;
    border-radius: 10px;
    background-color: #BADFCD;
}

#number_div{
    flex: 1;
    height: 100%;
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    border-bottom: 1px solid #05B084;
}

#number_div div:nth-child(2){
    content: " ";
    width: 0.5px;
    background-color: #05B084;
}

#number_div div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#green_tab_div{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    margin-bottom: 30px;
    background-color: #05B084;
}

#green_tab_div div{
    display: flex;
    width: 70%;
    justify-content: space-around;
    padding: 20px;
    gap: 20px;
    text-align: center;
    align-items: center;
}

#table_div{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}

.header{
    height: 80px;
    width: 100%;
    border-top: 3px solid #05B084;
    border-bottom: 3px solid #05B084;
    background-color: #8BCCB1;
    display: flex;
    align-items: center;
}

.list_div{
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #05B084;
    display: flex;
}

.head1{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 100%;
    border-right: 2px solid #05B084;
}
.head2{
    display: flex;
    text-align: center;
    align-items: center;
    height: 100%;
    justify-content: center;
    flex: 1;
}

#summary_table{
    height: 50px;
    width: 100%;
    color: #2D312F;
    flex: 1;
}

#profit_div{
    width: 100%;
    display: flex;
    flex: 1;
    justify-content: space-around;
    gap: 50px;
    margin-bottom: 50px;
    font-family: "Noto Sans Thai", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}

.profit_child{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #8BCCB1;
    height: 300px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-evenly;
    font-size: 25px;
    padding: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.151);
}

.profit_box {
    width: 300px;
    height: 40px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    font-size: 20px;
    border: 0px;
    margin-top: 10px;
}

.manual {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    opacity: 0;
    transition: opacity 0.3s ease;
}


.manual.show {
    display: block;
    opacity: 1;
}

.manual-content {
    justify-self: center;
    background-color: #ffffff;
    margin: 5% auto;
    padding: 20px;
    border-radius: 8px;
    width: 70%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);


    transform: translateY(-50px);
    transition: transform 0.3s ease;
}

.manual.show .manual-content {
    transform: translateY(0);
}

.carousel-container {
    width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    height: 550px;
    background-size: cover;
    background-position: center;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
}

#prevBtn {
    left: 10px;
}

#nextBtn {
    right: 10px;
}

.submitall_bt {
    display: flex;
    justify-self: center;
    justify-content: center;
    width: 10%;
    padding: 10px;
    height: 60px;
    border-radius: 50px;
    background-color: #ebebeb00;
    border: 5px solid #05B084;
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 120%;
    font-weight: 650;
    color: #05B084;
    cursor: pointer;
    transition: background 0.2s ease;
    transition: color 0.2s ease;
    margin-bottom: 30px;
}

.submitall_bt:hover{
    background: rgba(5,176,132,0.58);
    color: white;
}
