<!DOCTYPE html>
<html>
    <head>
        <title>PSCP Project_Summary</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{url_for('static', filename='summary.css')}}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&family=Noto+Sans+Thai:wght@100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav>
            <img class="logo" src="static/icon/Logo.png">
            <button type="button" class="user_manual_bt" id="user_manual_bt" style="display: flex; flex-direction: column; gap: 5px;">
                <div class="user_manual_icon" title="คู่มือการใช้งาน"></div>
                <h3 style="font-family: Noto Sans Thai, sans-serif;">คู่มือ</h3>
            </button>
        </nav>

        <!-- คู่มือการทำงานตอนกดเปิด -->
        <div id="manual" class="manual">
            <div class="manual-content">
                <div class="carousel-container" id="container">
                    <button class="carousel-btn" id="prevBtn">&lt;</button>
                    <button class="carousel-btn" id="nextBtn">&gt;</button>
                    <div class="carousel" id="carousel">
                      <!-- slide imgage -->
                        <div class="slide" style="background-image:url('static/slide/tips/1.png');"></div>
                        <div class="slide" style="background-image:url('static/slide/tips/2.png');"></div>
                        <div class="slide" style="background-image:url('static/slide/tips/3.png');"></div>
                        <div class="slide" style="background-image:url('static/slide/tips/4.png');"></div>
                        <div class="slide" style="background-image:url('static/slide/tips/5.png');"></div>
                        <div class="slide" style="background-image:url('static/slide/tips/6.png');"></div>
                        <div class="slide" style="background-image:url('static/slide/tips/7.png');"></div>
                        <div class="slide" style="background-image:url('static/slide/tips/8.png');"></div>
                    </div>
                  </div>
            </div>
        </div>
        
        <div class="body_div">
            <div id="summary_div">
                <div id="first_child_sum">
                    <div id="head_sum_div">
                        <div id="blank">
                            <!-- blank but maybe insert smt -->
                        </div>
                        <div id="number_div">
                            <div>
                                <h3 class="Nano" style="color: #05B084;">เล่มที่</h3>
                                <h3 class="Mitr" style="color: #05B084;">BOOK NO.</h3>
                            </div>
                            <div></div>
                            <div>
                                <h3 class="Nano" style="color: #05B084;">เลขที่</h3>
                                <h3 class="Mitr" style="color: #05B084;">BILL NO.</h3>
                            </div>
                        </div>
                    </div>
                    <div id="green_tab_div">
                        <h1 style="font-size: 50px; color: #FFFFFF;">สรุปต้นทุนทั้งหมด</h1>
                        <div>
                            <h3 class="Mitr">Cost Summary</h3>
                            <h3 class="Mitr">生产成本</h3>
                            <h3 class="Mitr">Cost Summary</h3>
                        </div>
                    </div>
                </div>
                <div id="table_div">
                    <div>
                        <p>รายการ</p>
                        <p>ต้นทุนของรายการนี้ (บาท)</p>
                    </div>
                    <div>
                        <p>ต้นทุนวัตถุดิบทั้งหมด</p>
                        <span><strong>{{ "%.4f"|format(cost_total) }}</strong></span>
                        <p>ค่าเสื่อมทั้งหมด</p>
                        <span><strong>{{ "%.4f"|format(depreciation_total) }}</strong></span>
                        <p>ค่าบรรจุภัณฑ์ทั้งหมด</p>
                        <span><strong>{{ "%.4f"|format(package_total) }}</strong></span>
                        <p>ค่าแรงทั้งหมด</p>
                        <span><strong>{{ "%.4f"|format(labor_total) }}</strong></span>
                    </div>
                    <div>
                        <span><strong>{{ "%.4f"|format(product_cost) }}</strong></span>
                    </div>
                </div>
            </div>
            <div id="profit_div">
                <form class="profit_form" action="/profit" method="POST">
                    <input type="hidden" name="cost_total" value="{{ cost_total }}">
                    <input type="hidden" name="depreciation_total" value="{{ depreciation_total }}">
                    <input type="hidden" name="package_total" value="{{ package_total }}">
                    <input type="hidden" name="labor_total" value="{{ labor_total }}">
                    <input type="hidden" name="product_cost" value="{{ product_cost }}">
                    <div id="profit_div">
                        <div class="profit_child">
                            <div>
                                <p class="Mitr">เปอร์เซ็นต์กำไร</p>
                                <label for="profit_input"></label>
                                <input type="number" id="profit_percentage_input" name="profit_percentage" class="profit_box" value="{{ '%.2f'|format(profit_percentage) }}" min="0" step="0.01">
                            </div>
                            <div>
                                <p class="Mitr">ราคาขายต่อหน่วย</p>
                                <p class="profit_box">{{ "%.0f"|format(final_price) }}</p>
                            </div>
                        </div>
                        <div class="profit_child">
                            <div>
                                <p class="Mitr">ราคาขายต่อหน่วย</p>
                                <label for="profit_input"></label>
                                <input type="number" id="profit_price_input" name="selling_price" class="profit_box" value="{{ '%.2f'|format(selling_price) }}" min="0" step="0.01">
                            </div>
                            <div>
                                <p class="Mitr">เปอร์เซ็นต์กำไร</p>
                                <p class="profit_box">{{ "%.2f"|format(final_percentage) }}</p>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="submitall_bt">คำนวณ</button>
                </form>
            </div>
        </div>
        <script src="{{url_for('static', filename='summary.js')}}"></script>
    </body>
</html>